@use 'variables'
@use 'mixins'
    
*
    padding: 0
    margin: 0
    box-sizing: border-box
    
.container
  @include mixins.container
  @include mixins.pilha
  flex-direction: column

  .main
    width: 100%
    height: 80vh

    @include mixins.tablet
      height: 55%

    @include mixins.smartphone
      background-size: 70vh  
      height: 47vh
      margin-bottom: 5rem


    .header
      margin-top: 1rem
      height: 5em
      width: 100%
      display: flex
      align-items: center

      @include mixins.tablet
        display: none
      
      &-lista
        @include mixins.centralizar
        margin-left: 59%
        width: 325px
        height: 50%
        justify-content: space-between

        @include mixins.notebook
          margin-left: 45%
          

        @include mixins.tablet
          margin-left: 39%

        &-btn
          list-style: none
          font-size: 19px

          &:hover
            background-color: red
            padding: 8px 12px
            border-radius: 50px

          &-ancora
            font-weight: 700
            color: #fff

    .destaque
      display: flex
      flex-wrap: wrap
      column-gap: 12rem
      
      padding: 0 auto

      @include mixins.notebook
        column-gap: 8rem
      

      .principal
        margin-top: 4rem
        margin-left: 8%
        width: 40%
        @include mixins.pilha
        gap: 5rem

        @include mixins.notebook
          width: 35%

        @include mixins.tablet
          @include mixins.centralizar
          width: 100%
          margin-left: 0

        @include mixins.smartphone
          width: 100%
          @include mixins.centralizar
          flex-direction: column

        &-logo
          width: 30rem

          @include mixins.notebook
            width: 20rem

          @include mixins.smartphone
            width: 18rem
            margin-top: -2.5rem


        &-descricao
          font-size: 25px
          font-weight: 700
          color: #fff
          padding-left: 8%
          display: flex
          flex-wrap: wrap
          

          @include mixins.notebook
            margin-top: -4rem
            font-size: 20px
            

          @include mixins.tablet
            width: 80%
            padding: 0
            margin-top: -3rem
            text-align: center
            font-size: 18px
            margin-bottom: 1rem

          @include mixins.smartphone
            width: 70%
            

      .aside
        @include mixins.pilha
        justify-content: center
        margin: 3% 0

        @include mixins.notebook
          width: 30%
        
        @include mixins.tablet
          width: 100%
          margin-right: 0
          padding: 1rem 0

        @include mixins.smartphone
          width: 100%
          margin-right: 0
          padding: 1rem 0

        &-selo-autoridade
          width: 18rem
          margin: -1rem auto -1rem auto

          @include mixins.notebook
            width: 10rem

          @include mixins.tablet
            display: none

        &-btn-redes
          margin: 3.5rem auto 0 auto
          display: flex
          justify-content: space-between
          width: 11rem

          @include mixins.notebook
            width: 8.5rem

          @include mixins.tablet
            margin-top: -1rem

          &:hover
            width: 20rem

            @include mixins.notebook
              width: 18rem

            @include mixins.tablet
              width: 18rem

            @include mixins.smartphone
              width: 16rem

            
          .whatsapp
            background-color: #108C15
            display: flex
            column-gap: .5rem
          .instagram
            background-color: #CA0D2F
            display: flex
            column-gap: .5rem
          .maps
            background-color: #B21010
            display: flex
            column-gap: .5rem


          &-contato
            list-style: none
            width: 50px
            height: 50px
            @include mixins.centralizar
            border-radius: 10px
            padding: 0 8px

            @include mixins.notebook
              width: 40px
              height: 40px

            @include mixins.smartphone
              width: 35px
              height: 35px
            
            &-link
              display: none
              
            .bi
              @include mixins.centralizar
              color: #fff

            &:hover
              width: 190px
              @include mixins.smartphone
                width: 180px

              .bi
                width: 1.2rem


              .aside-btn-redes-contato-link
                display: block
                @include mixins.centralizar
                color: #fff
                font-size: 17px
                font-weight: 700
                
                @include mixins.smartphone
                  font-size: 15px

  .servicos
    @include mixins.pilha
    margin: 0 auto
    row-gap: 5rem
    padding: 8rem 0
    @include mixins.smartphone
      padding: 3rem 0

    &-titulo
      font-size: 36px
      text-align: center

      @include mixins.smartphone
        font-size: 28px

    &-lista
      @include mixins.centralizar
      flex-wrap: wrap
      gap: 9rem 1rem
      padding: 2rem 8rem
      margin-top: 3rem

      @include mixins.smartphone
        gap: 5rem
        padding: 0

      &-card
        list-style: none
        

        &-link
          color: #000
          width: 13rem
          height: 16rem
          border: solid 1px 
          border-radius: 20px
          margin-top: 4rem
          @include mixins.pilha

          &:hover
            border: #B00703 2px solid
            color: #B00703
            height: 22rem
            margin-top: -4rem

            .servicos-lista-card-link-img
              margin: 1rem 0 0 .9rem

            .servicos-lista-card-link-titulo
              margin-top: 120%

          &-img
            width: 11rem
            height: 12rem
            border-radius: 10px
            background-color: black
            margin: -5rem 0 0 .9rem
            position: absolute
            
          &-titulo
            text-align: center
            font-size: 24px
            margin: 70% auto 0 auto
            width: 80%

  .processos
    @include mixins.pilha
    width: 100%

    &-titulo
      font-size: 36px
      text-align: center
      margin: 0 auto

      @include mixins.smartphone
        font-size: 28px
        width: 15rem
        padding-top: 4rem

    &-lista
      display: flex
      flex-wrap: wrap
      @include mixins.centralizar
      margin: 8rem auto
      width: 74%

      @include mixins.smartphone
        margin: 5rem auto

      &-card
        width: 27rem
        height: 30rem
        list-style: none
        @include mixins.centralizar
        flex-direction: column

        @include mixins.tablet
          height: 25rem

        @include mixins.smartphone
          height: 24rem

        &-circulo
            width: 4rem
            height: 4rem
            background-color: black
            color: #FFB904
            border-radius: 50%
            @include mixins.centralizar
            font-size: 25px
            font-weight: bold
            margin-bottom: -2rem
            position: relative

        &-container
          width: 25rem
          height: 27rem
          border: solid 1px black
          border-radius: 15px

          @include mixins.tablet
            height: 20rem
            width: 21rem

          &-conteudo
            margin: 5rem auto
            width: 80%

            @include mixins.smartphone
                margin: 5rem auto
                width: 90%

            &-titulo
              font-size: 30px

              @include mixins.smartphone
                font-size: 26px  
              

            &-descricao
              font-size: 25px
              margin-top: 15%

              @include mixins.tablet
                font-size: 22px
                margin-top: 10%

  .cta
    color: #fff
    width: 100%
    background-color: black
    @include mixins.pilha
    @include mixins.centralizar
    gap: 2.5rem
    padding: 5rem 0

    &-problema
      font-size: 30px
      font-weight: bold
      width: 70%

    &-solucao, &-clique-aqui
      font-size: 25px
      width: 64%

    a
      background-color: #108C15
      width: 12rem
      height: 3rem
      border-radius: 10px
      border: none
      font-weight: bold
      color: #fff
      @include mixins.centralizar
      gap: 1rem

  .sobre
    width: 100%
    padding: 5rem 0
    width: 100%
    height: 100%
    @include mixins.centralizar
    @include mixins.pilha
    gap: 3rem

    @include mixins.notebook
      background-size: 150%

    @include mixins.tablet
      background-size: 264%

    @include mixins.smartphone
      background-size: 355%

    &-logo
      width: 20%

    &-autoridade, &-atendimento
      color: #fff
      font-size: 19px
      text-align: center
      display: flex
      flex-wrap: wrap

    &-autoridade

      @include mixins.tablet
        width: 75%

      @include mixins.smartphone
        width: 55%

    &-atendimento
      width: 55%

    &-lista
      @include mixins.centralizar
      flex-wrap: wrap
      gap: 1.5rem

      &-card
        list-style: none
        width: 19rem
        height: 14rem
        background-color: #B8B8B8
        border-radius: 20px

        &-categoria
          color: #ffc900
          background-color: black
          height: 2.5rem
          font-size: 20px
          text-align: center
          margin-top: -.5rem
          padding-top: .5rem
          width: 100%
          border-top-left-radius: 20px
          border-top-right-radius: 20px

          &-lista
            font-size: 16px
            @include mixins.pilha
            gap: .8rem
            padding: 1.5rem 0 0 1rem


            &-processos
              list-style: none
              display: flex
              column-gap: 1rem
              font-weight: bold
            
        &-descricao
          font-weight: bold
          @include mixins.centralizar
          text-align: center
          padding: 1.5rem 1.5rem 0 1.5rem
          font-size: 16px


  .informacoes
    background-image: url(../img/bg-2.png)
    background-color: #ffffff
    padding: 50px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-content: center
    column-gap: 10px
    border-top: 5px solid #35353535
 
    @include mixins.notebook
        grid-template-columns: repeat(2, 1fr)

    @include mixins.tablet
        grid-template-columns: 1fr
        padding: 50px

    &-loja
      display: block
      flex-direction: column
      row-gap: 20px
      max-width: 400px

      @include mixins.tablet
        display: none

      h2
        font-family: "Roboto", sans-serif
        font-size: 20px 
        margin-bottom: 2rem 

      p
        font-size: 17px   

    &-canais
      display: block
      flex-direction: column

      @include mixins.tablet
        margin: 80px auto

      h2
        font-family: "Roboto", sans-serif
        font-size: 20px  
        margin-bottom: 1rem

      p
        font-size: 13px   
        
      a
        text-decoration: none
        color: #363636
        &:hover
          color: #ffbf00

    &-link
      @include mixins.pilha
      row-gap: 1rem

      margin-top: 1rem

      a
        display: flex
        column-gap: .5rem

        address
          font-size: 14px

      ul 
        display: flex
        list-style: none
        column-gap: 10px

        .bi
          width: 25px
          height: 25px
          color: #363636

          &:hover
            color: #ffbf00
        
    &-link
        color: #363636

        &:hover
            color: #ffbf00
    
    .numero
        font-size: 30px
        font-weight: bold
    
    &-maps
      display: flex
      justify-content: center
      
      iframe
        border: 0
        allowfullscreen: 0
        loading: lazy
        referrerpolicy: no-referrer-when-downgrade
        width: 350px
        height: 200px
        @include mixins.notebook
          justify-content: center
          margin-top: 50px

        @include mixins.tablet
          margin: 20px auto
        @include mixins.smartphone
          width: 300px
          height: 190px

  .feedbacks
    padding: 5rem 0
    width: 100%
    height: 100%
    @include mixins.centralizar
    @include mixins.pilha
    gap: 5rem

    &-titulo
      font-size: 36px
      font-weight: bold
      text-align: center
      flex-wrap: wrap

      @include mixins.smartphone
        font-size: 28px
        width: 15rem

    &-lista
      @include mixins.centralizar
      gap: 2rem
      flex-wrap: wrap
 
      &-card
        list-style: none
        border-radius: 20px
        @include mixins.pilha
        padding: 2rem 2rem
        gap: 2rem 2rem
        width: 17rem
        height: 25rem
        border: 1px solid #000

        &-container
          display: flex
          gap: 1rem

          &-perfil
            grid-area: img  
            width: 50px
            height: 50px

          &-avaliacao
            width: 4rem
            height: 1rem

        &-nome
          grid-area: titulo
          font-size: 17px
          width: 100%
          height: 2rem
          @include mixins.centralizar

        &-comentario
          height: 80%

      .link
        color: #0C70A9
        font-size: 17px
        text-align: center

  .footer
    width: 100%  
    background-color: variables.$bg-color
    padding: 2rem 5rem
    color: variables.$secondary-color
    border-top: 5px solid variables.$ilustrator-color

    &-navbar
      @include mixins.container
      @include mixins.centralizar
      justify-content: space-between

      @include mixins.tablet
        row-gap: 30px
        flex-direction: column

      &-logo
        width: 10rem

      &-link
        text-decoration: none
        color: variables.$secondary-color
                
      .bi
        width: 3rem
        height: 3rem
            
      &-complementos
        text-align: center
        font-family: Arial, Helvetica, sans-serif
        font-size: 13px
        // color: #3d3d3d

        &-link
          text-decoration: none
          color: variables.$secondary-color

          &:hover
            text-decoration: underline
                        
                    
            
                