@use 'variables'
@use 'mixins'
    
*
    padding: 0
    margin: 0
    box-sizing: border-box
    
    
    
.container
  @include mixins.container
  @include mixins.pilha
  flex-direction: column


  .main

    background-color: black
    width: 100%
    height: 80vh
    @include mixins.smartphone
      background-size: 70vh  
      height: 50vh
      margin-bottom: 5rem


    .header
      margin-top: 1rem
      height: 5em
      width: 100%
      display: flex
      align-items: center

      @include mixins.smartphone
        display: none
      
      &-lista
        @include mixins.centralizar
        margin-left: 60%
        width: 350px
        height: 50%
        justify-content: space-between

        @include mixins.notebook
          margin-left: 55%

        @include mixins.tablet
          margin-left: 50%

        &-btn
          list-style: none
          font-size: 19px

          &:hover
            background-color: red
            padding: 8px 12px
            border-radius: 50px

          &-ancora
            font-weight: 700
            color: #fff

    .destaque
      display: flex
      flex-wrap: wrap
      

      .principal
        margin-top: -4.5%
        margin-left: 8%
        width: 40%

        @include mixins.notebook
          width: 35%

        @include mixins.tablet
          width: 30%

        @include mixins.smartphone
          width: 100%
          @include mixins.centralizar
          flex-direction: column
          margin: 0

        &-logo
          width: 30rem

          @include mixins.notebook
            width: 25rem

          @include mixins.smartphone
            width: 10rem


        &-descricao
          font-size: 25px
          margin-top: -5rem
          font-weight: 700
          color: #fff
          padding-left: 8%
          display: flex
          flex-wrap: wrap
          

          @include mixins.notebook
            margin-top: -4rem
            font-size: 20px
            

          @include mixins.tablet
            width: 150%

          @include mixins.smartphone
            width: 70%
            padding: 0
            margin-top: -1rem
            text-align: center
            font-size: 15px

      .aside
        @include mixins.pilha
        width: 35%
        margin: 3% -10% 0 0 

        @include mixins.notebook
          width: 30%

        @include mixins.smartphone
          width: 100%
          margin-top: 12%
          margin-right: 0
          background-color: #000 
          padding: 1rem 0

        &-selo-autoridade
          width: 18rem
          margin-top: -1rem

          @include mixins.notebook
            width: 14rem

          @include mixins.smartphone
            width: 7rem

        &-btn-redes
          margin-top: 4.5rem
          display: flex
          width: 11rem

          @include mixins.smartphone
            margin-top: 1rem

          &:hover
            width: 19rem
            @include mixins.smartphone
              width: 16rem

            
          .whatsapp
            background-color: #108C15
            display: flex
          .instagram
            background-color: #CA0D2F
          .maps
            background-color: #B21010


          &-contato
            list-style: none
            width: 50px
            height: 50px
            @include mixins.centralizar
            border-radius: 10px
            padding: 0 8px

            @include mixins.smartphone
              width: 35px
              height: 35px
            
            &-link
              display: none
              
            .bi
              @include mixins.centralizar
              color: #fff
            

            &:hover
              width: 190px
              @include mixins.smartphone
                width: 170px


              .aside-btn-redes-contato-link
                display: block
                @include mixins.centralizar
                color: #fff
                font-size: 17px
                font-weight: 700
                
                @include mixins.smartphone
                  font-size: 15px

  .servicos
    @include mixins.pilha
    margin: 0 auto
    row-gap: 5rem
    padding: 8rem 0

    &-titulo
      font-size: 36px
      text-align: center

      @include mixins.smartphone
        font-size: 28px

    &-lista
      @include mixins.centralizar
      flex-wrap: wrap
      gap: 9rem 1rem
      padding: 2rem 8rem
      margin-top: 3rem

      @include mixins.smartphone
        gap: 5rem

      &-card
        list-style: none
        

        &-link
          color: #000
          width: 13rem
          height: 16rem
          border: solid 1px 
          border-radius: 20px
          margin-top: 4rem
          @include mixins.pilha

          &:hover
            border: #B00703 2px solid
            color: #B00703
            height: 22rem
            margin-top: -4rem

            .servicos-lista-card-link-img
              margin: 1rem 0 0 .9rem

            .servicos-lista-card-link-titulo
              margin-top: 120%

          &-img
            width: 11rem
            height: 12rem
            border-radius: 10px
            background-color: black
            margin: -5rem 0 0 .9rem
            position: absolute
            
          &-titulo
            text-align: center
            font-size: 24px
            margin-top: 70%
            width: 10rem

  .processos
    @include mixins.pilha
    padding: 2rem 0
    margin: 0 auto

    &-titulo
      font-size: 36px
      text-align: center

      @include mixins.smartphone
        font-size: 28px
        width: 15rem

    &-lista
      display: flex
      flex-wrap: wrap
      gap: 3rem
      margin: 8rem auto
      width: 74%

      &-card
        width: 27rem
        height: 27rem
        border: solid 1px black
        list-style: none
        border-radius: 15px

        @include mixins.smartphone
          height: 24rem

        &-circulo
          position: absolute
          width: 4rem
          height: 4rem
          background-color: black
          color: #FFB904
          border-radius: 50%
          @include mixins.centralizar
          font-size: 25px
          font-weight: bold
          margin: -2rem  11.5rem

          @include mixins.smartphone
            margin: -2rem 9.2rem

        &-conteudo
          margin: 5rem 3rem
          width: 80%

          @include mixins.smartphone
              margin: 5rem 2rem


          &-titulo
            font-size: 30px

            @include mixins.smartphone
              font-size: 26px  
            

          &-descricao
            font-size: 25px
            margin-top: 15%

            @include mixins.smartphone
              font-size: 22px




  .informacoes
    background-image: url(../img/bg-2.png)
    background-color: #ffffff
    padding: 50px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    justify-content: center
    column-gap: 10px
    border-top: 5px solid #35353535

    @include mixins.notebook
        grid-template-columns: repeat(2, 1fr)

    @include mixins.tablet
        grid-template-columns: 1fr
        padding: 50px

    &-loja
      display: block
      flex-direction: column
      row-gap: 20px
      max-width: 400px

      @include mixins.tablet
        display: none

      h2
        font-family: "Roboto", sans-serif
        font-size: 20px 
        margin-bottom: 2rem 

      p
        font-size: 17px   

    &-canais
      display: block
      flex-direction: column

      @include mixins.tablet
        margin: 80px auto

      h2
        font-family: "Roboto", sans-serif
        font-size: 20px  
        margin-bottom: 1rem

      p
        font-size: 13px   
        
      a
        text-decoration: none
        color: #363636
        &:hover
          color: #ffbf00

    &-link
      @include mixins.pilha
      row-gap: 1rem

      margin-top: 1rem

      a
        display: flex
        column-gap: .5rem

        address
          font-size: 14px

      ul 
        display: flex
        list-style: none
        column-gap: 10px

        .bi
          width: 25px
          height: 25px
          color: #363636

          &:hover
            color: #ffbf00
        
    &-link
        color: #363636

        &:hover
            color: #ffbf00
    
    .numero
        font-size: 30px
        font-weight: bold
    
    &-maps
      display: flex
      justify-content: center
      
      iframe
        border: 0
        allowfullscreen: 0
        loading: lazy
        referrerpolicy: no-referrer-when-downgrade
        width: 350px
        height: 200px
        @include mixins.notebook
          justify-content: center
          margin-top: 50px

        @include mixins.tablet
          margin: 20px auto
        @include mixins.smartphone
          width: 300px
          height: 190px

  .footer
    background-color: variables.$bg-color
    border-top: 5px solid variables.$ilustrator-color

    &-navbar
      @include mixins.container
      @include mixins.centralizar
      justify-content: space-between
            
      @include mixins.tablet
        row-gap: 30px
        flex-direction: column

      &-logo
        width: 10rem

      &-link
        text-decoration: none
        color: variables.$secondary-color
                
      .bi
        width: 3rem
        height: 3rem
            
      &-complementos
        text-align: center
        font-family: Arial, Helvetica, sans-serif
        font-size: 13px
        // color: #3d3d3d

          &-link
            text-decoration: none
            color: #3d3d3d

            &:hover
              text-decoration: underline
                        
                    
            
                