/* Atalhos */
/* Responsivo */
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-direction: column;
}
.container .main {
  background-color: black;
  width: 100%;
  height: 80vh;
}
@media (max-width: 500px) {
  .container .main {
    background-size: 70vh;
    height: 50vh;
    margin-bottom: 5rem;
  }
}
.container .main .header {
  margin-top: 1rem;
  height: 5em;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .container .main .header {
    display: none;
  }
}
.container .main .header-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 60%;
  width: 350px;
  height: 50%;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .container .main .header-lista {
    margin-left: 55%;
  }
}
@media (max-width: 850px) {
  .container .main .header-lista {
    margin-left: 50%;
  }
}
.container .main .header-lista-btn {
  list-style: none;
  font-size: 19px;
}
.container .main .header-lista-btn:hover {
  background-color: red;
  padding: 8px 12px;
  border-radius: 50px;
}
.container .main .header-lista-btn-ancora {
  font-weight: 700;
  color: #fff;
}
.container .main .destaque {
  display: flex;
  flex-wrap: wrap;
}
.container .main .destaque .principal {
  margin-top: -4.5%;
  margin-left: 8%;
  width: 40%;
}
@media (max-width: 1000px) {
  .container .main .destaque .principal {
    width: 35%;
  }
}
@media (max-width: 850px) {
  .container .main .destaque .principal {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .container .main .destaque .principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }
}
.container .main .destaque .principal-logo {
  width: 30rem;
}
@media (max-width: 1000px) {
  .container .main .destaque .principal-logo {
    width: 25rem;
  }
}
@media (max-width: 500px) {
  .container .main .destaque .principal-logo {
    width: 10rem;
  }
}
.container .main .destaque .principal-descricao {
  font-size: 25px;
  margin-top: -5rem;
  font-weight: 700;
  color: #fff;
  padding-left: 8%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .container .main .destaque .principal-descricao {
    margin-top: -4rem;
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .container .main .destaque .principal-descricao {
    width: 150%;
  }
}
@media (max-width: 500px) {
  .container .main .destaque .principal-descricao {
    width: 70%;
    padding: 0;
    margin-top: -1rem;
    text-align: center;
    font-size: 15px;
  }
}
.container .main .destaque .aside {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-right: 8%;
  width: 35%;
}
@media (max-width: 1000px) {
  .container .main .destaque .aside {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .container .main .destaque .aside {
    width: 100%;
    margin-top: 12%;
    margin-right: 0;
    background-color: #000;
    padding: 1rem 0;
  }
}
.container .main .destaque .aside-selo-autoridade {
  width: 18rem;
  margin-top: -1rem;
}
@media (max-width: 1000px) {
  .container .main .destaque .aside-selo-autoridade {
    width: 14rem;
  }
}
@media (max-width: 500px) {
  .container .main .destaque .aside-selo-autoridade {
    width: 7rem;
  }
}
.container .main .destaque .aside-btn-redes {
  margin-top: 4.5rem;
  display: flex;
  width: 11rem;
}
@media (max-width: 500px) {
  .container .main .destaque .aside-btn-redes {
    margin-top: 1rem;
  }
}
.container .main .destaque .aside-btn-redes:hover {
  width: 19rem;
}
@media (max-width: 500px) {
  .container .main .destaque .aside-btn-redes:hover {
    width: 16rem;
  }
}
.container .main .destaque .aside-btn-redes .whatsapp {
  background-color: #108C15;
  display: flex;
}
.container .main .destaque .aside-btn-redes .instagram {
  background-color: #CA0D2F;
}
.container .main .destaque .aside-btn-redes .maps {
  background-color: #B21010;
}
.container .main .destaque .aside-btn-redes-contato {
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 0 8px;
}
@media (max-width: 500px) {
  .container .main .destaque .aside-btn-redes-contato {
    width: 35px;
    height: 35px;
  }
}
.container .main .destaque .aside-btn-redes-contato-link {
  display: none;
}
.container .main .destaque .aside-btn-redes-contato .bi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}
.container .main .destaque .aside-btn-redes-contato:hover {
  width: 190px;
}
@media (max-width: 500px) {
  .container .main .destaque .aside-btn-redes-contato:hover {
    width: 170px;
  }
}
.container .main .destaque .aside-btn-redes-contato:hover .aside-btn-redes-contato-link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
@media (max-width: 500px) {
  .container .main .destaque .aside-btn-redes-contato:hover .aside-btn-redes-contato-link {
    font-size: 15px;
  }
}
.container .servicos {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 5rem;
  padding: 8rem 0;
}
.container .servicos-titulo {
  font-size: 36px;
}
@media (max-width: 500px) {
  .container .servicos-titulo {
    font-size: 28px;
  }
}
.container .servicos-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  gap: 9rem 1rem;
  padding: 2rem;
  margin-top: 3rem;
}
@media (max-width: 500px) {
  .container .servicos-lista {
    gap: 5rem;
  }
}
.container .servicos-lista-card {
  list-style: none;
}
.container .servicos-lista-card-link {
  color: #000;
  width: 13rem;
  height: 16rem;
  border: solid 1px;
  border-radius: 20px;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}
.container .servicos-lista-card-link:hover {
  border: #B00703 2px solid;
  color: #B00703;
  height: 22rem;
  margin-top: -4rem;
}
.container .servicos-lista-card-link:hover .servicos-lista-card-link-img {
  margin: 1rem 0 0 0.9rem;
}
.container .servicos-lista-card-link:hover .servicos-lista-card-link-titulo {
  margin-top: 120%;
}
.container .servicos-lista-card-link-img {
  width: 11rem;
  height: 12rem;
  border-radius: 10px;
  background-color: black;
  margin: -5rem 0 0 0.9rem;
  position: absolute;
}
.container .servicos-lista-card-link-titulo {
  text-align: center;
  font-size: 24px;
  margin-top: 70%;
  width: 10rem;
}
.container .processos {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.container .processos-titulo {
  font-size: 36px;
}
@media (max-width: 500px) {
  .container .processos-titulo {
    font-size: 28px;
    width: 15rem;
    text-align: center;
  }
}
.container .processos-lista {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  margin: 8rem auto;
  width: 74%;
}
.container .processos-lista-card {
  width: 27rem;
  height: 27rem;
  border: solid 1px black;
  list-style: none;
  border-radius: 15px;
}
@media (max-width: 500px) {
  .container .processos-lista-card {
    height: 24rem;
  }
}
.container .processos-lista-card-circulo {
  position: absolute;
  width: 4rem;
  height: 4rem;
  background-color: black;
  color: #FFB904;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 25px;
  font-weight: bold;
  margin: -2rem 11.5rem;
}
@media (max-width: 500px) {
  .container .processos-lista-card-circulo {
    margin: -2rem 9.2rem;
  }
}
.container .processos-lista-card-conteudo {
  margin: 5rem 3rem;
  width: 80%;
}
@media (max-width: 500px) {
  .container .processos-lista-card-conteudo {
    margin: 5rem 2rem;
  }
}
.container .processos-lista-card-conteudo-titulo {
  font-size: 30px;
}
@media (max-width: 500px) {
  .container .processos-lista-card-conteudo-titulo {
    font-size: 26px;
  }
}
.container .processos-lista-card-conteudo-descricao {
  font-size: 25px;
  margin-top: 15%;
}
@media (max-width: 500px) {
  .container .processos-lista-card-conteudo-descricao {
    font-size: 22px;
  }
}

/*# sourceMappingURL=App.css.map */
