/* Atalhos */
/* Responsivo */
* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-direction: column;
}
.container .main {
  background-color: black;
  width: 100%;
  height: 80vh;
}
@media (max-width: 400px) {
  .container .main {
    background-size: 300%;
    height: 76vh;
    margin-bottom: 5rem;
  }
}
.container .main .header {
  margin-top: 1rem;
  height: 5em;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 400px) {
  .container .main .header {
    display: none;
  }
}
.container .main .header-lista {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 60%;
  width: 350px;
  height: 50%;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .container .main .header-lista {
    margin-left: 55%;
  }
}
@media (max-width: 850px) {
  .container .main .header-lista {
    margin-left: 50%;
  }
}
.container .main .header-lista-btn {
  list-style: none;
  font-size: 19px;
}
.container .main .header-lista-btn:hover {
  background-color: red;
  padding: 8px 12px;
  border-radius: 50px;
}
.container .main .header-lista-btn-ancora {
  font-weight: 700;
  color: #fff;
}
.container .main .destaque {
  display: flex;
  flex-wrap: wrap;
}
.container .main .destaque .principal {
  margin-top: -4.5%;
  margin-left: 8%;
  width: 40%;
}
@media (max-width: 1000px) {
  .container .main .destaque .principal {
    width: 35%;
  }
}
@media (max-width: 850px) {
  .container .main .destaque .principal {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .container .main .destaque .principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
  }
}
.container .main .destaque .principal-logo {
  width: 30rem;
}
@media (max-width: 1000px) {
  .container .main .destaque .principal-logo {
    width: 25rem;
  }
}
@media (max-width: 400px) {
  .container .main .destaque .principal-logo {
    width: 20rem;
  }
}
.container .main .destaque .principal-descricao {
  font-size: 25px;
  margin-top: -5rem;
  font-weight: 700;
  color: #fff;
  padding-left: 8%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .container .main .destaque .principal-descricao {
    margin-top: -4rem;
    font-size: 20px;
  }
}
@media (max-width: 850px) {
  .container .main .destaque .principal-descricao {
    width: 150%;
  }
}
@media (max-width: 400px) {
  .container .main .destaque .principal-descricao {
    width: 70%;
    padding: 0;
    margin-top: -2rem;
    text-align: center;
  }
}
.container .main .destaque .aside {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-right: 8%;
  width: 35%;
}
@media (max-width: 1000px) {
  .container .main .destaque .aside {
    width: 30%;
  }
}
@media (max-width: 400px) {
  .container .main .destaque .aside {
    width: 100%;
    margin-top: 12%;
    margin-right: 0;
    background-color: #000;
    padding: 1rem 0;
  }
}
.container .main .destaque .aside-selo-autoridade {
  width: 18rem;
  margin-top: -1rem;
}
@media (max-width: 1000px) {
  .container .main .destaque .aside-selo-autoridade {
    width: 14rem;
  }
}
@media (max-width: 400px) {
  .container .main .destaque .aside-selo-autoridade {
    width: 10rem;
  }
}
.container .main .destaque .aside-btn-redes {
  margin-top: 4.5rem;
  display: flex;
  width: 11rem;
}
@media (max-width: 400px) {
  .container .main .destaque .aside-btn-redes {
    margin-top: 1rem;
  }
}
.container .main .destaque .aside-btn-redes:hover {
  width: 19rem;
  width: 16rem;
}
.container .main .destaque .aside-btn-redes .whatsapp {
  background-color: #108C15;
}
.container .main .destaque .aside-btn-redes .instagram {
  background-color: #CA0D2F;
}
.container .main .destaque .aside-btn-redes .maps {
  background-color: #B21010;
}
.container .main .destaque .aside-btn-redes-contato {
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 0 8px;
}
@media (max-width: 400px) {
  .container .main .destaque .aside-btn-redes-contato {
    width: 35px;
    height: 35px;
  }
}
.container .main .destaque .aside-btn-redes-contato-link {
  display: none;
}
.container .main .destaque .aside-btn-redes-contato .bi {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}
.container .main .destaque .aside-btn-redes-contato:hover {
  width: 190px;
}
@media (max-width: 400px) {
  .container .main .destaque .aside-btn-redes-contato:hover {
    width: 170px;
  }
}
.container .main .destaque .aside-btn-redes-contato:hover .aside-btn-redes-contato-link {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
}
@media (max-width: 400px) {
  .container .main .destaque .aside-btn-redes-contato:hover .aside-btn-redes-contato-link {
    font-size: 15px;
  }
}

/*# sourceMappingURL=App.css.map */
