* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

main {
  background-image: url(./assets/components/img/bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.sobre {
  background-image: url(./assets/components/img/loja-oficina-do-micro.jpg);
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: 30%;
}
